@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

.intro-sec {
  position: relative;
  gap: 10px;
  padding: 200px 20px 100px 20px;
  min-height: 100vh;
}

.intro-sec::before {
  background-image: url("/assets/images/Banner.jpg");
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: cover;
}
.intro-sec::before .header-container {
  height: 80vh;
}

.top-nav {
  position: sticky;
  top: 0;
  z-index: 1042;
  background-color: #272a31;
}
.top-nav a {
  color: white;
  font-size: 12px;
}
.top-nav a:hover {
  color: #d3d3d3;
}

.top-nav-container {
  height: 20px;
}

.main-nav {
  position: sticky;
  top: 36px;
  z-index: 1042;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}
.main-nav .container {
  height: 60px;
}
.main-nav .compaign {
  margin-left: 55px;
}
.main-nav .compaign a {
  color: #ec5242;
  border: 2px solid #ec5242;
}

.intro-header {
  background: url("../../assets/images/Afg-flag.jpeg") no-repeat;
  background-size: 100vw;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.intro-p p {
  font-size: 1.45rem;
  color: #ec5242;
}
.intro-p h1 {
  font-family: "COCOGOOSE", "Assistant", sans-serif;
  text-transform: uppercase;
}

.abt h1 {
  color: #ec5242;
  text-align: center;
}

.header-description {
  border: 1px solid white;
  background-color: #d3d3d3;
}

.txt-border {
  border-bottom: 1px solid #ec5242;
  margin: 20px auto;
  width: 50px;
}

.main-program {
  background-image: url("/assets/images/main-event-bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-program .main-txt {
  text-align: center;
}
.main-program .txt-border {
  border-bottom: 1px solid #ec5242;
  margin: 0 auto;
  width: 50px;
}
.main-program .main-cards {
  background-color: rgba(211, 211, 211, 0.2196078431);
  text-align: center;
}
.main-program .main-see-txt {
  text-align: center;
  text-decoration: underline;
  color: white;
}

.feature-players .txt-border {
  border-bottom: 1px solid #ec5242;
  margin: 0 auto;
  width: 50px;
}
.feature-players .feature-txt {
  text-align: center;
}

.feature-players .guest-player-1 {
  width: 100%;
  height: 100%;
}
.feature-players .border-players {
  border-bottom: 2px solid #d3d3d3;
  width: 20px;
}
.feature-players .player-position {
  color: #ec5242;
}

.partners {
  background-color: #272a31;
  background-repeat: no-repeat;
  background-size: cover;
}
.partners .main-txt {
  text-align: center;
}
.partners .txt-border {
  border-bottom: 1px solid #ec5242;
  margin: 0 auto;
  width: 50px;
}
.partners .partners-logo {
  width: 100%;
}

.abt-txt p {
  text-align: center;
}

.abt-date p {
  text-align: center;
}
.abt-date .contact-email {
  text-decoration: underline;
  font-weight: 400;
}

.logo-section {
  border-bottom: 1px solid #d3d3d3;
}
.logo-section h3,
.logo-section p {
  text-align: center;
}
.logo-section .logo {
  padding: 2% 10%;
  margin: 0 auto;
}

.history-section h3,
.history-section p {
  text-align: center;
}
.history-section .bg-card-1 {
  background-image: url("/assets/images/2003.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: content-box;
  width: 80%;
  height: 80%;
}
.history-section .bg-card-2 {
  background-image: url("/assets/images/2023.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: content-box;
  width: 50%;
  height: 50%;
}

@media (max-width: 768px) {
  .top-nav {
    display: none;
  }
  .compaign {
    display: none;
  }
  .main-nav {
    position: sticky;
    top: 0;
    background: none;
    box-shadow: none;
  }
  .main-nav .collapse-main {
    width: 100%;
    background-color: white;
  }
  .main-nav .navbar-nav {
    padding-left: 20px;
  }
  .logo-section .logo {
    width: 100%;
    height: 100%;
  }
  .history-section .bg-card-1 {
    padding: 50%;
  }
}/*# sourceMappingURL=style.css.map */