
.abt-txt {
  p {
    text-align: center;
  }
}

.abt-date {
  p {
    text-align: center;
  }

  .contact-email {
    text-decoration: underline;
    font-weight: 400;
  }
}

.abt {
  h1 {
    color: $temp-orange-color;
    text-align: center;
  }
}
.logo-section{
  padding: 34px 0px;
}

.history-section {
  h3 {
    text-align: center;
  }

  h2,
  p {
    text-align: center;
  }

  .history-bg-1 {
    @include bg($history-bg-1);

    padding: 145px;
  }

  .history-bg-2 {
    @include bg($history-bg-2);

    padding: 150px;
  }
}

.abt-footer {
  padding: 34px 0px;
  background-color: $temp-black-color;

  h5,
  p {
    color: white;
  }
}
