$temp-black-color: #272a31;
$temp-orange-color: #ec5242;
$temp-gray-color: #d3d3d3;
$intro-bg: url('/assets/images/Banner.jpg');
$breakpoint-tablet: 768px;
$text-bg: url("/assets/images/intro-header-text-bg.png");
$main-event-bg:url('/assets/images/main-event-bg-img.png');
$history-bg-1: url('/assets/images/2003.jpg');
$history-bg-2: url('/assets/images/2023.jpg');
