@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
.intro-sec {
  position: relative;
  gap: 10px;
  padding: 200px 0 100px 0;
  min-height: 100vh;
}

.intro-sec::before {
  background-image: url("/assets/images/Banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.intro-sec::before .header-container {
  height: 100vh;
}

.intro-header {
  background: url("/assets/images/intro-header-text-bg.png") no-repeat;
  background-size: 100vw;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.intro-p p {
  font-size: 1.45rem;
  color: #ec5242;
}
.intro-p h1 {
  font-family: "COCOGOOSE", "Assistant", sans-serif;
  text-transform: uppercase;
}

.header-description {
  border: 1px solid white;
  background-color: #d3d3d3;
}

.main-program {
  background-image: url("/assets/images/main-event-bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.main-program .main-txt {
  text-align: center;
}
.main-program .txt-orange {
  color: #ec5242;
}
.main-program .icons {
  font-size: 40px;
}
.main-program .main-cards {
  background-color: rgba(211, 211, 211, 0.2196078431);
  text-align: center;
  padding: 24px;
  gap: 20px;
}
.main-program .main-cards:hover {
  border: 1px solid white;
  cursor: pointer;
}
.main-program .main-see-txt {
  text-align: center;
}
.main-program .btn-see-more {
  color: white;
  border-radius: none;
  text-decoration: underline;
  cursor: pointer;
}

.feature-players .players-feature {
  display: flex;
  flex-wrap: wrap;
}
.feature-players .guest-player-1 {
  width: 100%;
  height: 100%;
}
.feature-players .players {
  display: flex;
}
.feature-players .border-players {
  border-bottom: 2px solid #d3d3d3;
  width: 20px;
}
.feature-players .player-position {
  color: #ec5242;
}
.feature-players .feature-txt {
  text-align: center;
}

.logos {
  display: flex;
}

.partners {
  background-color: #272a31;
}
.partners .main-txt {
  text-align: center;
}
.partners .partners-logo {
  width: 70%;
}

.abt-txt p {
  text-align: center;
}

.abt-date p {
  text-align: center;
}
.abt-date .contact-email {
  text-decoration: underline;
  font-weight: 400;
}

.abt h1 {
  color: #ec5242;
  text-align: center;
}

.logo-section {
  border-bottom: 1px solid #d3d3d3;
  padding: 34px 0;
}
.logo-section h3,
.logo-section p {
  text-align: center;
}
.logo-section .logo {
  padding: 2% 10%;
  margin: 0 auto;
}

.history-section h3 {
  text-align: center;
}
.history-section h2,
.history-section p {
  text-align: center;
}
.history-section .history-bg-1 {
  background-image: url("/assets/images/2003.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 145px;
}
.history-section .history-bg-2 {
  background-image: url("/assets/images/2023.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 150px;
}

.abt-footer {
  padding: 34px 0;
  background-color: #272a31;
}
.abt-footer h5,
.abt-footer p {
  color: white;
}

.top-nav {
  position: fixed;
  top: 0;
  z-index: 1042;
  width: 100%;
  background-color: #272a31;
  height: 36px;
}
.top-nav a {
  font-size: 12px;
}
.top-nav a:hover {
  color: #d3d3d3;
}

.nav {
  position: fixed;
  top: 36px;
  z-index: 1042;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}
.nav .hamburger .fa-bars,
.nav .hamburger .fa-xmark {
  display: none;
}
.nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
}
.nav .nav-container ul {
  display: flex;
  margin-top: 15px;
}
.nav .nav-container ul li {
  list-style: none;
}
.nav .nav-container ul li a {
  color: #272a31;
}
.nav .nav-container .selected {
  color: #ec5242;
}
.nav .nav-container .compaign {
  margin-left: 55px;
}
.nav .nav-container .compaign a {
  color: #ec5242;
  border: 2px solid #ec5242;
}

.footbal-menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 36px;
}

.txt-border {
  border-bottom: 1px solid #ec5242;
  margin: 20px auto;
  width: 50px;
}

.more-btn {
  display: none;
}

@media (max-width: 768px) {
  .top-nav {
    display: none;
  }
  .compaign {
    display: none;
  }
  .logo-section .logo {
    width: 100%;
    height: 100%;
  }
  .nav {
    position: fixed;
    top: 0;
    z-index: 1042;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .nav .hamburger .fa-bars {
    display: block;
    font-size: 24px;
  }
  .nav .nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 76px;
  }
  .nav .nav-container .logo {
    display: none;
  }
  .nav .nav-container .nav-list {
    position: absolute;
    left: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    display: flex;
    align-items: center;
  }
  .nav .nav-container .nav-list.active {
    left: 0;
  }
  .nav .nav-container li {
    list-style: none;
    text-align: center;
    width: 80%;
    padding: 16px 0;
  }
  .nav .nav-container a {
    padding: 10px;
    text-decoration: none;
    line-height: 20px;
    font-size: 24px;
  }
  .nav .nav-container .selected {
    color: #ec5242;
  }
  .nav .nav-container .compaign {
    margin-left: 55px;
  }
  .nav .nav-container .compaign a {
    color: #ec5242;
    border: 2px solid #ec5242;
  }
  .logo.active {
    display: none;
  }
  .fa-bars.active {
    opacity: 1;
  }
  .header-container {
    gap: 20px;
  }
  .main-program .main-cards {
    display: flex;
    align-self: center;
    align-items: center;
    width: 100%;
  }
  .main-program .main-cards i {
    width: 100px;
  }
  .main-program .main-cards h3 {
    width: 231px;
    text-align: left;
  }
  .main-program .main-cards p {
    width: 300px;
    text-align: left;
  }
  .main-program .row-posts {
    display: flex;
    flex-direction: column;
  }
  .main-program .btn-see-more {
    background-color: #ec5242;
    color: white;
    padding: 32px;
    text-decoration: none;
    width: 100%;
  }
  .main-program .hidden {
    display: none;
  }
  .main-program .btn-see-more::after {
    content: "Join us";
    font-size: 24px;
  }
  .feature-players .players-feature {
    max-height: 306px;
    overflow: hidden;
  }
  .feature-players .players {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .feature-players .guest-player-1 {
    padding: 10px 10px;
    width: 144px;
    height: 100%;
  }
  .feature-players .txt-cus h3 {
    font-size: 14px;
  }
  .feature-players .txt-cus p {
    font-size: 10px;
  }
  .more-btn {
    text-align: center;
    border: 1px solid #d3d3d3;
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #272a31;
  }
  .more-btn .fa-chevron-down {
    color: #ec5242;
    font-size: 14px;
    margin: 4px;
  }
  .partners .logos {
    display: flex;
    flex-wrap: nowrap;
  }
  .partners .partners-logo {
    width: 100%;
  }
  .history-section .history-bg-1 {
    background-image: url("/assets/images/2003.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 20%;
  }
  .history-section .history-bg-2 {
    background-image: url("/assets/images/2023.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 20%;
  }
  .footer {
    gap: 24px;
  }
}/*# sourceMappingURL=main.css.map */